.header {
    color :#fffffe;
    font-family: monospace;
    margin: 15px;
    padding: 10px;
}
.resultGame {
    margin: 10px;
    padding-bottom: 25px;
    height: 50vh;
}

.choise {
    border-top: 2px solid #001e1d;
    margin: 35px;
    height: 75px;
}
.choise h3 {
    font-family: monospace;
    padding: 10px;
    color: #fffffe;
}
.choise p {
    font-size: 25px;
    font-family: monospace;
    padding: 3px;
    color: #abd1c6;
}

.game {
    padding: 15px;
    margin: 15px;
}
.buttonForGame {
    display: block;
    margin: 15px;
}

.buttonForGame button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    background-color: #f9bc60;
    border: none;
    color: #001e1d;
    padding: 11px 28px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    margin: 5px;
    font-family: monospace;
    letter-spacing: 1px;
}
.game p {
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 15px;
    text-align: center;
    color: #abd1c6;
}
.winner {
    margin: 55px;

}
.winner h1 {
    font-family: monospace;
    padding: 5px;
    color: #e16162;
}
.column{
    background-color: #abd1c6;
    padding: 15px;
    margin-top: 70px;
    border-radius: 5px;
}
.column span {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #0f3433;
}
.column h6 {
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #001e1d;
    color: #001e1d;
}
