.playerValue {
    margin: 10px;
    padding: 10px;

}
.playerValue ul {
    padding-left: 0;
}

.playerValue li {
    text-align: left;
    list-style: none;
    color: #abd1c6;
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 1px 0;


}
.playerValue h5 {
    font-size: 25px;
    font-family: monospace;
    color: #fffffe;
    border-bottom: 1px solid #001e1d;
    padding: 5px;
}